.emptyList {
    color: #EEEEEE;
    text-align: center;
}

.logoutButton:hover {
    background-color: #222831;
    color: #EEEEEE;
}

.filterSection h2 {
    margin: 0;
}

.filterSection button:hover {
    background-color: #222831;
    color: #EEEEEE;
}

.buttonDiv {
    display: flex;
    justify-content: center;
    gap: 10px;
}

@media (min-width: 1024px) {
    .accountPage {
        display: flex;
        flex-direction: row;
        width: 95%;
        margin-left: 2.5%;
        gap: 20px;
    }
    
    .profileSettings {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #EEEEEE;
        width: 260px;
        height: fit-content;
        border-radius: 24px;
        border: none;
    }
    
    .profileSection {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }

    .profileImageContainer {
        position: relative;
        margin: 0 auto;
        width: 150px;
        height: 150px;
    }
    
    .profileDetails, .filterSection {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .profileDetails > p:first-child {
        font-size: 24px;
        margin: 10px 0 0 0;
    }

    .logoutButton {
        background-color: transparent;
        border: 1px solid #222831;
        border-radius: 24px;
        padding: 5px 10px;
        font-size: 18px;
        cursor: pointer;
        margin-top: 10px;
    }
    
    .profileDivider {
        width: 90%;
        border: 0;
        height: 1px;
        background-color: #222831;
        margin: 20px auto;
        opacity: 0.5;
    }
    
    .filterSection > p {
        font-size: 18px;
        margin: 12px 0 4px 0;
    }

    .contentType p, .contentState p {
        font-size: 16px;
        cursor: pointer;
        text-align: center;
        margin: 0;
    }

    .contentType p.active, .contentState p.active {
        font-size: 18px;
        font-weight: bold;
    }

    .contentType, .contentState {
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: center;
    }

    .filterSection button {
        background-color: #EEEEEE;
        border: 1px solid #222831;
        border-radius: 24px;
        padding: 5px 10px;
        font-size: 18px;
        cursor: pointer;
        margin: 10px 0 10px 0;
    }

    .custom-switch{
        border-radius: 48px !important;
        color: #000;
        background-color: #eeeeee;
    }

    .custom-switch:hover .MuiOutlinedInput-notchedOutline {
        border-color: #000;
    }

    .custom-switch .MuiOutlinedInput-notchedOutline {
        border-color: #000;
    }

    .custom-switch .MuiSvgIcon-root {
        color: #000;
    }

    .custom-Form {
        width: 120px !important;
        background-color: #EEEEEE;
        margin-top: 10px !important;
        margin-left: 5px!important;
        margin-right: 5px!important;
        border-radius: 24px !important;
    }

    .contentRow {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .custom-switch .MuiSwitch-switchBase.Mui-checked {
        color: #000;
    }

    .custom-switch .MuiSwitch-switchBase.Mui-checked:hover {
        background-color: rgba(0, 0, 0, 0.08);
    }

    .custom-switch .MuiSwitch-switchBase.Mui-checked + .MuiSwitch-track {
        background-color: #000000;
    }

    .custom-switch .MuiSwitch-switchBase {
        color: #000000;
    }

    .custom-switch .MuiSwitch-track {
        border-radius: 20px;
        background-color: #979696;
    }

    .custom-Paper {
        background-color: #eeeeee;
        border-radius: 24px;
        color: #000;
    }

    .custom-Paper .MuiMenuItem-root {
        color: #000;
    }

    .custom-Paper .MuiMenuItem-root:hover {
        background-color: rgba(0, 0, 0, 0.08);
    }

    .profileImage {
        scale: 1.7;
    }

    .dynamicContainer {
        position: relative;
        width: calc(var(--radius)*2);
        height: calc(var(--radius)*2);
        overflow: hidden;
        border-radius: 50%;
        border: 1px solid black;
        scale: var(--scale);
        transform-origin: top left;
    }

    .dynamicProfileImage {
        position: absolute;
        width: 250px;
        height: 375px;
        left: calc(var(--radius) - var(--selection-x));
        top: calc(var(--radius) - var(--selection-y));
    }

    .avatarContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        overflow: hidden;
        border: 1px solid #222831;
    }
}

@media (min-width: 1440px) {
    .listSection {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        width: calc(100% - 260px);
        height: fit-content;
    }
}

@media (max-width: 1024px) {
    .accountPage {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 95%;
        height: fit-content;
        margin-left: 2.5%;
    }
    
    .profileSettings {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
        height: fit-content;
        border: none;
    }
    
    .profileSection {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 10px;
        align-items: center;
        width: 100%;
        background-color: #EEEEEE;
        border-radius: 24px;
    }

    .dynamicContainer {
        position: relative;
        width: calc(var(--radius)*2);
        height: calc(var(--radius)*2);
        overflow: hidden;
        border-radius: 50%;
        border: 1px solid black;
        scale: calc(var(--scale)*0.5);
        transform-origin: top left;
    }

    .dynamicProfileImage {
        position: absolute;
        width: 250px;
        height: 375px;
        left: calc(var(--radius) - var(--selection-x));
        top: calc(var(--radius) - var(--selection-y));
    }

    .profileImageContainer{
        position: relative;
        margin: 10px 10px;
        width: 78px;
        height: 78px;
    }

    .avatarContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 78px;
        height: 78px;
        border-radius: 50%;
        overflow: hidden;
        border: 1px solid #222831;
    }

    .profileImage {
        scale: 1.5;
    }
    
    .profileDetails {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .filterSection{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background-color: #EEEEEE;
        border-radius: 24px;
        width: 100%;
    }
    
    .profileDetails > p:first-child {
        font-size: 18px;
        margin-top: 0;
    }

    .logoutButton {
        background-color: transparent;
        color:#222831;
        border: 1px solid #222831;
        border-radius: 24px;
        padding: 4px 8px;
        font-size: 14px;
        cursor: pointer;
    }
    
    .profileDivider {
        display: none;
    }
    
    .filterSection > p {
        font-size: 14px;
        margin: 5px 0 2px 0;
    }

    .contentType p, .contentState p {
        font-size: 14px;
        cursor: pointer;
        text-align: center;
        margin: 0;
    }

    .contentType p.active, .contentState p.active {
        font-size: 16px;
        font-weight: bold;
    }

    .contentType, .contentState {
        display: flex;
        gap: 5px;
        align-items: center;
        justify-content: center;
    }

    .filterSection button {
        background-color: #EEEEEE;
        color:#222831;
        border: 1px solid #222831;
        border-radius: 24px;
        padding: 4px 8px;
        font-size: 14px;
        cursor: pointer;
    }

    .custom-switch{
        border-radius: 48px !important;
        color: #000;
        background-color: #eeeeee;
    }

    .custom-switch:hover .MuiOutlinedInput-notchedOutline {
        border-color: #000;
    }

    .custom-switch .MuiOutlinedInput-notchedOutline {
        border-color: #000;
    }

    .custom-switch .MuiSvgIcon-root {
        color: #000;
    }

    .custom-Form {
        width: 110px !important;
        background-color: #EEEEEE;
        margin-top: 5px !important;
        margin-left: 5px!important;
        margin-right: 5px!important;
        border-radius: 24px !important;
    }

    .contentRow {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .contentRow > p {
        font-size: 14px;
        margin: 0;
    }

    .custom-switch .MuiSelect-select {
        padding: 6px 12px; /* Modifica il padding qui */
    }

    .custom-switch .MuiOutlinedInput-notchedOutline {
        padding: 0; /* Se desideri rimuovere il padding dal contorno */
    }

    .custom-switch .MuiSwitch-switchBase.Mui-checked {
        color: #000;
    }

    .custom-switch .MuiSwitch-switchBase.Mui-checked:hover {
        background-color: rgba(0, 0, 0, 0.08);
    }

    .custom-switch .MuiSwitch-switchBase.Mui-checked + .MuiSwitch-track {
        background-color: #000000;
    }

    .custom-switch .MuiSwitch-switchBase {
        color: #000000;
    }

    .custom-switch .MuiSwitch-track {
        border-radius: 20px;
        background-color: #979696;
    }

    .custom-Paper {
        background-color: #eeeeee;
        border-radius: 24px;
        color: #000;
    }

    .custom-Paper .MuiMenuItem-root {
        color: #000;
    }

    .custom-Paper .MuiMenuItem-root:hover {
        background-color: rgba(0, 0, 0, 0.08);
    }

    .contentCoverSelector{
        background-color: #EEEEEE;
        z-index: 10;
        width: 95%;
        border-radius: 24px;
    }
}

@media (min-width: 1024px) and (max-width: 1440px) {
    .listSection {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        width: calc(100% - 260px);
        height: fit-content;
    }
}

