.card {
  width: 200px;
  height: 300px;
  margin: 12px;
  border-radius: 12px;
  border: 1px solid #222831;
  transition: height 0.5s ease, width 0.5s ease, margin 0.5s ease;
  z-index: 3;
}

.card:hover{
  filter: drop-shadow(0px 0px 5px #000000);
  transition: filter 0.5s ease;
}

.cards {
  display: block;
  flex-direction: column;
  justify-content: center;
  margin-bottom: -3px;
  width: fit-content;
}

.cards li{
  background-color: #EEEEEE;
  margin-top: -5px;
}

.rullino {
  width: 226px;
  margin: 0;
}
