.card {
  width: 200px;
  height: 300px;
  margin: 12px;
  border-radius: 12px;
  filter: drop-shadow(0 0 0.2rem #000);
  transition: height 0.5s ease, width 0.5s ease, margin 0.5s ease;
  z-index: 3;
}

.card:hover {
  height: 390px;
  width: 260px;
  margin-bottom: -40px;
  margin-top: -35px;
}

.card-container {
  display: flex;
}

@media (max-width: 768px) {

  .card:hover {
    height: 300px;
    width: 200px;
    margin: 10px;
  }
  
}
