.footer{
    border-top: 2px solid #ffffff;
    background-color: #000000;
    margin-bottom: 90px;
}

.info{
    color: #CAC8C7;
    text-align: center;
    padding: 2px;
    margin-top: -4px;
}

.info > p + p{
    margin-top: -12px;
    font-size: 12px;
}

.info a{
    color: #CAC8C7;
}

.serviceState {
    display: flex;
    justify-content: center;
    font-size: 12px;
    margin-top: -12px;
}

.serviceState p {
    margin-right: 10px;
}

.status-dot {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
    margin-left: 3px;
    margin-top: 3px;
}
  
.online {
    background-color: green;
}

.offline {
    background-color: red;
}

