.logoContainer img{
    width: 50px;
    height: 50px;
    margin-left: 10px;
}

.logoContainer{
    display: flex;
    align-items: center;
}

.header{
    background-color: #ffffff;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.desktopDisplay{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mobileDisplay{
    display: none;
}

.header h1{
    margin-left: 20px;
    align-self: center;
    text-align: center;
    align-items: center;
}

.menu{
    margin-left: 20px;
    display: flex;
    text-align: center;
    align-items: center;
}

.menu li{
    border: none;
    background-color: #ffffff;
    flex-grow: 1;
    cursor: default;
    font-size: 20px;
    padding: 8px;
    margin-left: 15px;
    margin-right: 15px;
    list-style: none;
}

.menu li:hover{
    scale: 1.2;
}

.menu i{
    scale: 1.4;
    margin-left: 30px
}

.menu i:hover{
    scale: 1.7;
}

.iconContainer {
    display: flex;
    align-items: center;
}

.iconContainer i {
    margin-left: 10px;
    margin-right: 10px;
    scale: 1.6;
}

.linkPage {
    text-decoration: none;
    color: inherit;
}
  
@media (max-width: 768px) { 
    .desktopDisplay {
        display: none;
    }

    .mobileDisplay {
        display: flex;
    }

    .menuButton {
        display: flex;
        align-items: center;
        background: none;
        border: none;
        font-size: 24px;
        cursor: default;
        position: absolute;
        right: 20px;
        top: 40px;
        filter: invert(100%);
    }

    .sidebar {
        position: fixed;
        right: -250px;
        height: 100%;
        width: 220px;
        background-color: #ffffff;
        transition: right 0.3s ease-in-out;
        z-index: 2;
        display: block;
        flex-direction: column;
        padding-top: 80px;
    }

    .sidebar.active {
        right: 0;
    }

    .sidebar li{
        display: flex;
        margin-top: 10px;
        border: none;
        background-color: #ffffff;
        justify-content: center;
        cursor: default;
        font-size: 20px;
        list-style: none;
    }

    .closeButton {
        position: absolute;
        top: 10px;
        right: 30px;
        display: flex;
        justify-content: center;
        font-size: 24px;
        cursor: default;
    }

    .closeButton i {
        font-size: 32px;
    }

    .search {
        position: absolute;
        bottom: 100px;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 48px;
        cursor: default;
    }

}
