.videoBackground {
    margin-top: -140px;
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
}

.videoBackground iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

.gradientOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #000000, #40404000);
}

.infoText iframe {
    margin: 10px;
    width: 100%;
    height: 40vh;
    border: none;
    padding: 0%;
}

.infoContent {
    display: flex;
    align-items: center;
}

.infoText {
    width: 70%;
    margin-left: 5%;
    margin-right: 5%;
    color: #ffffff;
}

.infoText p {
    margin: 5px;
}

.infoText h1 {
    margin: 5px;
}

.infoImage {
    width: 20vw;
    height: auto;
    pointer-events: none;
    border-radius: 14px;
    border: 2px solid #EEEEEE;
}

.imageContainer {
    position: relative;
    margin-left: 2.5%;
}

.listConteiner {
    position: absolute;
    display: flex;
    width: 90%;
}

.buttons {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 10px;
}

.infoBackground.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 14px;
    background: linear-gradient(to top, #EEEEEE, #EEEEEE60);
}

.addListContent{
    display: flex;
    justify-content: center;
    padding: 10px;
    gap: 10px;
}

.addListContent .MuiSelect-root,
.addListContent .MuiInputBase-root {
    border-radius: 14px;
}

.addListContent .MuiInputBase-root {
    border-radius: 14px;
}

.addList.show {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 70%;
    margin-bottom: 20px;
    margin-left: 10px;
}

.addList.show p{
    font-size: 20px;
    text-align: center;
    margin-bottom: 0;
    font-weight: 500;
}

.MuiInputLabel-shrink {
    background-color: #EEEEEE00;
    width: fit-content;
    margin-left: 0px;
    margin-top: 0px;
}

.stateForm {
    width: 100px;
}

.addList.hide {
    display: none ;
}

.heartButton,
.plusButton {
    background-color: rgba(0, 0, 0, 0.7);
    border: 1px solid #EEEEEE;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #EEEEEE;
    margin-bottom: 15px;
}

.heartButton.active, .heartButton.active:hover{
    color: #ff0000;
    border: 1px solid #ff0000;
}

.heartButton:hover,
.plusButton:hover {
    background-color: #EEEEEE;
    color: #222831;
    border: 1px solid #222831;
}

.heartButton.active:hover{
    color: #ff0000;
}

.submitButton {
    margin: 5px !important;
}

.infoAdd {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.infoAdd p{
    margin: 5px;
    border: 2px solid #EEEEEE;
    border-radius: 12px;
    padding: 5px;
    text-align: center;
}

.infoProvider {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.infoProvider img {
    width: 40px;
    height: 40px;
    border-radius: 30%;
    margin-right: 5px;
    margin-top: 5px;
    margin-left: 2.5%;
}

.infoAdd button{
    background-color: #ffffff;
    width: fit-content;
    color: #000000;
    border: none;
    border-radius: 12px;
    font-size: 18px;
    display: inline;
    cursor: default;
    padding-right: 15px;
    margin-left: 6px;
    margin-right: 4vw;
}

.infoContainer > h1 {
    color: #ffffff;
    margin-top: 20px;
    margin-left: 2.5%;
}

.trailer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 12px;
    background-color: #EEEEEE;
    border: none;
    border-radius: 24px;
    cursor: pointer;
}
  
.trailer .activeTrailer {
    transform: rotate(90deg);
}

@media (max-width: 1024px) {
    .infoContent {
        flex-direction: column;
    }

    .infoText {
        width: 90%;
    }

    .infoImage {
        width: 60vw;
    }

    .videoBackground{
        display: none;
    }
}