.videoBackground {
    margin-top: -140px;
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
}

.videoBackground iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

.gradientOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #000000, #40404000);
}

.infoText iframe {
    margin: 10px;
    width: 100%;
    height: 40vh;
    border: none;
    padding: 0%;
}

.infoContent {
    display: flex;
    align-items: center;
}

.infoText {
    width: 70%;
    margin-left: 5%;
    margin-right: 5%;
    color: #ffffff;
}

.infoText p {
    margin: 5px;
}

.infoText h1 {
    margin: 5px;
}

.infoImage {
    width: 20vw;
    height: auto;
    pointer-events: none;
    margin-left: 2.5%;
}

.infoAdd {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.infoAdd p{
    margin: 5px;
}

.infoProvider {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.infoProvider img {
    width: 40px;
    height: 40px;
    border-radius: 30%;
    margin-right: 5px;
    margin-top: 5px;
    margin-left: 2.5%;
}

.infoAdd button{
    background-color: #ffffff;
    width: fit-content;
    color: #000000;
    border: none;
    border-radius: 12px;
    font-size: 18px;
    display: inline;
    cursor: default;
    padding-right: 15px;
    margin-left: 6px;
    margin-right: 4vw;
}

.infoContainer > h1 {
    color: #ffffff;
    margin-top: 20px;
    margin-left: 2.5%;
}

@media (max-width: 1024px) {
    .infoContent {
        flex-direction: column;
    }

    .infoText {
        width: 90%;
    }

    .infoImage {
        width: 60%;
        margin: 0;
    }

    .videoBackground{
        display: none;
    }
}