.signContainer {
    position: fixed;
    top: 100px;
    right: 0;
    background-color: #EEEEEE;
    border-radius: 30px;
    padding: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    width: 25vw;
    margin-right: 2.5%;
    z-index: 5;
}

.signContainer i {
    display: none;
}

.signContainer p {
    color: red;
    font-size: 12px;
    text-align: center;
    margin-bottom: -15px;
}

.signContainer button{
    background-color: #EEEEEE;
    border: 1px solid #222831;
    border-radius: 12px;
}

.redirectButton {
    color:#222831;
    font-size: 14px;
}

.signContainer button:hover{
    background-color: #222831;
    color: #EEEEEE;
}

.textField .MuiInputLabel-root {
    color: #222831;
}

.textField .MuiInputLabel-root.Mui-focused {
    color: #222831;
    margin-left: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.textField .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: #222831;
}

.textField .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
    border-color: #222831;
    border-radius: 36px;
}

.submitButton {
    background-color: #222831 !important;
    border-radius: 24px !important;
}

.submitButton:hover {
    background-color: #EEEEEE !important;
    color: #222831 !important;
}

.loginButton {
    background-color: #EEEEEE !important;
    border: 1px solid #222831 !important;
    border-radius: 24px !important;
    color: #222831 !important;
    margin: 5px !important;
}

.loginButton:hover {
    background-color: #222831 !important;
    color: #EEEEEE !important;
}

@media screen and (max-width: 1024px){
    .signContainer {
        width: 87.5vw;
    }

    .signContainer i {
        display: flex;
        font-size: 30px;
        margin-right: 5px;
    }
    
}