.slider {
    width: 95%;
    overflow: hidden;
    background-color: #fff;
    overflow-x: auto;
    scrollbar-width: none;
    border-radius: 0px 20px 20px 20px;
}

.slider-container {
    display: grid;
    place-items: center;
}

.slider::-webkit-scrollbar {
    display: none;  
}

.images-container {
    display: flex;
    list-style: none;
}

.rullino-container{
    display: flex;
}

.rullino-container img {
    filter: invert(100%);
    width: 4401px;
    height: auto;
    z-index: 2;
    margin-left: -1px;
}

.slider-title{
    background-color: #fff;
    border-radius: 10px 10px 0px 0px;
    padding: 0px 10px 0px 10px;
    width: fit-content;
    margin-left: 2.5%;
    margin-bottom: -25px;
    font-size: 20px;
}
