.slider {
    display: grid;
    width: 95%;
    max-width: fit-content;
    overflow: hidden;
    overflow-x: auto;
    border-radius: 0px 20px 20px 20px;
    scrollbar-width: none;
    -ms-overflow-style: none;
    margin-bottom: 10px;
    margin-left: 2.5%;
}

.slider::-webkit-scrollbar {
    display: none;
}

.imagesContainer {
    display: flex;
    list-style: none;
}

.sliderContainer h2{
    background-color: #EEEEEE;
    border-radius: 10px 10px 0px 0px;
    padding: 0px 10px 0px 10px;
    width: fit-content;
    font-size: 20px;
    margin-left: 2.5%;
    margin-bottom: -1px;
    font-size: 26px;
}
